<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.BoardMapper">

	<!-- 카테고리 호출 -->
	<select id="category" resultType="com.spring.domain.CategoryVO">
		 select
		  level, cateName, cateCode, cateCodeRef
		 from board_category
		     start with cateCodeRef is null connect by prior cateCode = cateCodeRef
	</select>

	<!-- 레시피 등록 -->
	<insert id="board">
		 insert into write_board (bnum, writer, bname, catecode, bdes, bimg, thumbimg, cooktime, serving, temperature, difficult, title,readcount)
	     values (write_board_seq.nextval, #{writer}, #{bname}, #{catecode}, #{bdes}, #{bimg}, #{thumbimg}, #{cooktime}, #{serving}, #{temperature}, #{difficult}, #{title},#{readcount})
	</insert>		
	
	<!-- 레시피 리스트 -->
	<select id="list" resultType="com.spring.domain.BoardVO">
		select bnum, bname, writer, catecode,bdate, bdes, bimg, thumbimg,title,readcount
		from write_board order by bnum desc
	</select>
	
	
	 <!-- 레시피 조회 -->
	<!--<select id="view" resultType="com.spring.domain.BoardVO">
 		select bnum, bname, catecode, bdes, bimg, bdate, cooktime, serving, temperature, difficult from write_board where bnum = #{bnum}
	</select> -->


	<!-- 상품 조회 + 카테고리 조인-->
	<select id="view" resultType="com.spring.domain.BoardViewVO">
	 select g.bnum, g.bname, g.catecode, c.cateCodeRef, c.cateName, g.thumbimg, g.bimg, bdes, bdate, cooktime, serving, temperature, difficult ,title, writer,readcount
	 from write_board g
	 inner join board_category c
	 on g.cateCode = c.cateCode 
	 where g.bnum = #{bnum}
	</select>

	<!-- 상품 수정 -->
	<update id="modify">
	 update write_board set 
	 bname = #{bname},
	 writer = #{writer}, 
	 catecode = #{catecode}, 
	 bdes = #{bdes},
	 bimg = #{bimg},
	 thumbimg = #{thumbimg}, 
	 cooktime = #{cooktime},
	 serving = #{serving},
	 temperature = #{temperature},
	 difficult = #{difficult},
	 title = #{title}
	 where bnum = #{bnum}
	</update>
	
	<!-- 상품 삭제 -->
	<delete id="delete">
	 delete write_board where bnum = #{bnum}
	</delete>
	
	<update id="readcount">
	update write_board set readcount=readcount+1 where bnum = #{bnum}
	</update>
	
	
	
	
	<!-- 전체 게시물 가져오기 -->
 		<select id="selectAll" resultType="com.spring.domain.BoardVO">
		<!-- select * from spring_board where bno > 0 order by bno desc
		<![CATA[]]> == 크다 작다 꺽세 사용할때 요류가 나오는데 그걸 없애줌 -->
		<![CDATA[ 
		select * 
		from (select /*+INDEX_DESC(write_board SYS_C0011255) */ 
		rownum rn,bnum,bname,bimg,thumbimg,bdate,title,writer
		from write_board 
		where bnum>0  and rownum <= (#{pageNum} * #{amount})
		]]> 
			<include refid = "criteria"></include>
		<![CDATA[
		) 
		where rn> ((#{pageNum}-1)*#{amount}) order by bnum desc
		]]>   
		</select>  
		<!-- and catecode = #{catecode} -->
		
		
		<select id="total" resultType="int" >
		select count(*) from write_board where 
		bnum >0
		<include refid = "criteria"></include>
		</select>
		
		<!-- <include refid="criteria"></include>
		<![CDATA[   
		      bno>0 and rownum <= (#{pageNum}*#{amount}))
		where rn> (#{pageNum}-1)*#{amount}
		]]>
	</select>
	<select id="total" resultType="int" >
		select count(*) from spring_board where
		<include refid ="criteria"></include>
		 bno>0
	</select> -->
	
	
	<!-- 동적 sql 작성 -->
	<sql id="criteria">
		<trim prefix="and " suffix=" " prefixOverrides="OR">
			<choose><!-- 인스턴트,한식,양식 -->
				<when test="cateCode == ''.toString()">
					cateCode like '%%'
				</when>
				<when test="cateCode == '100'.toString()">
					cateCode like '1'||'%'
				</when>
				<when test="cateCode == '101'.toString()">
					cateCode like '101'
				</when>	
				<when test="cateCode == '102'.toString()">
					cateCode like '102'
				</when>	
				<when test="cateCode == '103'.toString()">
					cateCode like '103'
				</when>	
				<when test="cateCode == '104'.toString()">
					cateCode like '104'
				</when>	
				<when test="cateCode == '105'.toString()">
					cateCode like '105'
				</when>	
				<when test="cateCode == '106'.toString()">
					cateCode like '106'
				</when>						
				<when test="cateCode == '200'.toString()">
					cateCode like '2'||'%'
				</when>
				<when test="cateCode == '201'.toString()">
					cateCode like '201'
				</when>	
				<when test="cateCode == '202'.toString()">
					cateCode like '202'
				</when>	
				<when test="cateCode == '203'.toString()">
					cateCode like '203'
				</when>	
				<when test="cateCode == '204'.toString()">
					cateCode like '204'
				</when>	
				<when test="cateCode == '205'.toString()">
					cateCode like '205'
				</when>	
				<when test="cateCode == '206'.toString()">
					cateCode like '206'
				</when>
				<when test="cateCode == '300'.toString()">
					cateCode like '3'||'%'
				</when>
				<when test="cateCode == '301'.toString()">
					cateCode like '301'
				</when>	
				<when test="cateCode == '302'.toString()">
					cateCode like '302'
				</when>	
				<when test="cateCode == '303'.toString()">
					cateCode like '303'
				</when>	
				<when test="cateCode == '304'.toString()">
					cateCode like '304'
				</when>	
				<when test="cateCode == '305'.toString()">
					cateCode like '305'
				</when>	
				<when test="cateCode == '306'.toString()">
					cateCode like '306'
				</when>
				<when test="cateCode == '400'.toString()">
					cateCode like '4'||'%'
				</when>
				<when test="cateCode == '401'.toString()">
					cateCode like '401'
				</when>	
				<when test="cateCode == '402'.toString()">
					cateCode like '402'
				</when>	
				<when test="cateCode == '403'.toString()">
					cateCode like '403'
				</when>	
				<when test="cateCode == '404'.toString()">
					cateCode like '404'
				</when>	
			</choose>
		</trim>
	</sql>
</mapper>